<div class="container">
  <p><font size="5" color="MidnightBlue" face="cursive">История салона «SONATA» началась 60 лет назад, когда в тихом и уютном пространстве на юго-западе Москвы на Ленинском проспекте 68/10 открылась наша парикмахерская, которая и сегодня верно сохраняет традиции, уважает и любит своих постоянных клиентов, следит за модными тенденциями, а наши мастера и стилисты делают все возможное для того, чтобы гости салона чувствовали себя уютно и уходили от нас в неизменно хорошем настроении.
  Мы работаем в индустрии красоты и понимаем, что само понятие «красота» у многих ассоциируется с искусством - живописью, художественными произведениями, музыкой. Любовь человека к прекрасному наиболее ярко отражается в музыке - она трогает, заставляет улыбаться, вдохновляет на лучшее. Подобно аккордам, которые складываются в прекрасное музыкальное повествование, салон красоты «SONATA» сочетает в себе стиль, качество, комфорт и высокий профессионализм, помноженные на традиции. Мы прекрасно понимаем, что внешняя привлекательность позволяет светиться изнутри и уверенно идти к успеху.</font></p>
  <div class="add-to-card-btn">
    <a href="/">
      <button  class="btn btn-success">
        Домой
      </button>
    </a>
  </div>
</div>
