<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Парикмахерские Энска</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Домой</a>
            <li><a href="/about">О нас</a></li>
              {% include 'about.html' %}

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/contact">Контакты</a>
              {% include 'contact.html' %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
